[Unit]
Description=mkosi build for %I
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nspawn-builder %i

[Install]
WantedBy=multi-user.target
